body {
    background-color: #000000;
    color: #F6F6F6;  
    text-align: center;  
}

.titulo-destaque {
    color: #22D4FD;
}

a {
    background-color: #22D4FD;
    color: #000000;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
    height: 20px;
}

h1{
    font-weight: bold;
}

span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
}

img {
    border: 1px solid #22D4FD;
    border-radius: 3px;
}